<h1>Event Updated!</h1>
<p>Hello <%= @booking.user.name %>,</p>

<p>Your booked event <strong><%= @booking.ticket.event.name %></strong> has been updated.</p>

<p><strong>New Event Date & Time:</strong> <%= @booking.ticket.event.date.strftime("%d %B %Y") %> at <%= @booking.ticket.event.date.strftime("%I:%M %p") %></p>
<p><strong>Tickets Booked:</strong> <%= @booking.total_count %></p>
<p><strong>Total Price:</strong> ₹<%= @booking.total_price %></p>

<p>We recommend checking the latest details on our website.</p>

<p>Thank you for using our service!</p>
